h1 {
  font-weight: 600;
  font-size: 40px;
  color: #53a8b6;
  font-family: "Poppins", sans-serif;
  padding-top: 7px;
}

ul {
  list-style: none;
  font-family: "Poppins", sans-serif;
  color: #53a8b6;
}

.headings {
  font-family: "Poppins", sans-serif;
  color: #53a8b6;
}

.date {
  font-weight: normal;
  font-size: 24px;
  margin: 0% auto;
}

.description {
  font-weight: normal;
  font-size: 24px;
  text-transform: capitalize;
}
